p,
h2,
em,
footer {
    text-align: center;
    display: block;
    margin: auto;
}

h2 {
    font-size: 200%;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist {
    width: 50%;
}

.artist a {
    display: inline;
    text-decoration: none;
    color: var(--primary-text);
    font-size: 5vh;
    height: 100%;
    margin-left: 10px;
}

.artist img {
    width: clamp(50px, 200px, 20vw);
    height: auto;
}

i {
    color: var(--primary-text);
}