.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    max-width: 90%;
    justify-content: center;
    margin: 0 auto;
}

.container img {
    height: clamp(150px, 20vw, 35vmin);
    width: auto;
    display: block;
    object-fit: contain;
}

.gslide-title {
    color: var(--primary-text);
}

.gslide-inner {
    background-color: var(--primary-bg);
}

.gslide-desc {
    color: var(--primary-text);
}