.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    max-width: 90%;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
}

.container img {
    height: clamp(150px, 20vw, 35vmin);
    width: auto;
    display: block;
    object-fit: contain;
}

.gslide-title {
    color: var(--primary-text) !important;
    font-size: 250% !important;
    margin: auto;
}

.gdesc-inner {
    background-color: var(--primary-bg) !important;
}

.gslide-desc {
    color: var(--primary-text) !important;
    font-size: 150% !important;
    max-width: 75ch;
}