p {
    display: inline;
}

.icon {
    display: inline;
    height: 1rem;
    width: auto;
}

#clankerprompt {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

#clankerprompt img {
    display: block;
    margin: auto;
    height: 75vh;
    width: 75vh;
}

#clankerprompt h1 {
    display: block;
    width: 100%;
    font-size: 350%;
    text-align: center;
    color: var(--primary-text);
}

#clankerprompt div {
    display: block;
    margin: auto;
    width: 50vw;
    align-items: center;
}

#clankerprompt div button {
    width: 49%;
    font-size: 275%;
}

#yippee {
    width: clamp(150px, 45vw, 500px);
    height: auto;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
    width: clamp(200px, 40vw, 500px);
}

#info p,
h2 {
    display: inline;
    margin: 0;
}