p {
    display: inline;
}

img {
    margin-bottom: 1rem;
}

.icon {
    display: inline;
    margin: auto;
    height: 1rem;
    width: auto;
}

.yippee {
    width: clamp(12rem, 45%, 500px);
    height: auto;
}

/*#region Clankerprompt*/
#clankerprompt {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}

#clankerprompt img {
    display: block;
    margin: auto;
    width: clamp(12rem, min(75vmin, 50vh), 40rem);
    height: auto;
}

#clankerprompt h1 {
    display: block;
    font-size: clamp(1.75rem, 6vmin, 3.5rem);
    text-align: center;
    margin: 0;
    color: var(--primary-text);
}

#clankerprompt div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(16rem, 70vmin, 45rem);
    height: clamp(3rem, 14vmin, 9rem);
    align-items: center;
}

#clankerno,
#clankeryes {
    width: 48%;
    height: 100%;
    font-size: clamp(1rem, 3vmin, 2rem);
    padding: clamp(0.25rem, 1vmin, 0.75rem);
    border-radius: 48%;
    color: var(--primary-text);
    border: 0.5vmin ridge white;
    background-color: #a00;
}

#clankeryes {
    background-color: #0f3c5d;
    float: right;
}

/*#endregion*/