p {
    display: inline;
}

.icon {
    display: inline;
    height: 1rem;
    width: auto;
}

img {
    margin-bottom: 1rem;
}

#yippee {
    width: clamp(12rem, 500px, 45%);
    height: auto;
}

/*#region Clankerprompt*/
#clankerprompt {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}

#clankerprompt img {
    display: block;
    margin: auto;
    width: min(75vmin, 50vh);
    height: auto;
}

#clankerprompt h1 {
    display: block;
    font-size: 350%;
    text-align: center;
    margin: 0;
    color: var(--primary-text);
}

#clankerprompt div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vmin;
    height: 14vmin;
    align-items: center;
}

#clankerno,
#clankeryes {
    width: 48%;
    height: 100%;
    font-size: 3vmin;
    padding: 1vmin;
    border-radius: 48%;
    color: var(--primary-text);
    border: 0.5vmin, ridge, white;
    background-color: #a00;
}

#clankeryes {
    background-color: #0f3c5d;
    float: right;
}

/*#endregion*/