#info>a {
    font-size: x-large;
    font-weight: bold;
}

.imagebar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

.imagebar img {
    height: 100%;
    width: auto;
}

.chapterheader {
    margin-top: 2rem;
    display: block;
    font-size: xx-large;
}