:root {
    --project-bg1: #222;
    --project-bg2: #333;
    --project-text: #fff;
}

:root[data-theme="dark"] {
    --project-bg1: #ddd;
    --project-bg2: #ccc;
    --project-text: #000000;
}

.project {
    background-color: var(--project-bg1);
    padding: 1%;
    height: 15vh;
}

.project:nth-child(even) {
    background-color: var(--project-bg2)
}

a {
    text-decoration: none;
}

.project div h2 {
    font-size: max(1.8rem, 5vmin);
    font-weight: normal;
    text-decoration: underline;
    color: var(--project-text);
}

.project p {
    font-size: max(1rem, 3vmin);
    max-width: 100ch;
    display: block;
    color: var(--project-text);
}

.project img {
    float: left;
    display: inline;
    height: 100%;
    aspect-ratio: 1;
    width: auto;
    object-fit: contain;
    margin-right: 20px;
}