#smugcats {
    display: flex;
    flex-wrap: wrap;
    width: min(95%, 95vw);
    justify-content: center;
    gap: min(1rem, 1vmin);
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#smugcats img {
    display: inline;
    height: clamp(130px, 32.5vmin, 22rem);
    width: auto;
    object-fit: contain;
}

#smugcats-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
}
